
.mapCmpDiv{
    height: 100vh;
    position: relative;
}

.button{
    position: absolute;
    z-index: 2;
}

.butnUplFile{
    top: 120px;
    left: 20px;
}
.butnUplFileBackup{
    top: 150px;
    left: 20px;
}
.butnAlumCountry{
    top: 180px;
    left: 20px;
}

.fileInput{
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 3;
    color: white;
}