p {
    margin-top: 15px;
    margin-bottom: 10px;
}

.menu-buttons-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding-top: 0px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    z-index: 3;
}

.mapCmpDiv{
    height: 100vh;
    position: relative;
}

.button{
    position: absolute;
    z-index: 2;
}

.butnPopAlumni{
    top: 120px;
    left: 20px;
}
.butnBackAlumni{
    top: 150px;
    left: 20px;
}
.butnBackAlumniWFile{
    top: 180px;
    left: 20px;
}
.btnMissingLinkedinLinks{
    top: 210px;
    left: 20px;
}


.butnPopCountry{
    top: 270px;
    left: 20px;
}
.butnPopCity{
    top: 300px;
    left: 20px;
}
.butnPopAlumniEIC{
    top: 330px;
    left: 20px;
}

.butnGenCountryGeoJason{
    top: 390px;
    left: 20px;
}
.butnGenCityGeoJason{
    top: 420px;
    left: 20px;
}

.butnUseCitiesGeoJson{
    top: 480px;
    left: 20px;
}
.butnUseCountriesGeoJson{
    top: 510px;
    left: 20px;
}
.btnExcelAlumniTableToExcel{
    top: 550px;
    left: 20px;
}

.search-bar {
    border: 1px solid gray;
    border-radius: 5px; 
    box-shadow: none; 
    padding: 5px; 
    outline: none; 
    width: 95%;
}

.filter-course-alumni {
    width: 100%;
    margin-bottom: 10px;
}

.year-filter-container {
    display: flex;
    margin-bottom: 10px;
}

.search-container-year {
    width: 50%;
    display: inline-block;
}

.filter-year-to-alumni {
    margin-left: 5px;
}

.search-bar-alumni {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    margin: 0px;
}

.text-distribution {
    padding-left: 6px;
    margin-top: 10px;
}

.fileInput{
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 3;
    color: white;
}

.scrollable {
    max-height: 200px; 
    overflow-y: auto;
}

.alumni-cell {
    display: flex; 
    align-items: center; 
  }

.profile-picture {
    max-height: 30px;
    border-radius: 100%; 
    margin-right: 10px;
} 

.listing-image-profile-picture {
    display: flex;
    align-items: center;
}

.search-results div {
    cursor: pointer; 
}

.clusterRectangle {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    z-index: 999; 
    width: 20%;
}

.link {
    color: black;
    text-decoration: none;
}

.list-alumni {
    list-style-type: none;
    padding: 0;
}
.list-alumni.scrollable {
    max-height: 200px; 
    max-width: 500px; 
    overflow-y: auto;
}

.table-titles {
    text-align: left;
}

.my-button {
    background: linear-gradient(135deg, #6b73ff, #000dff); 
    border: none; 
    border-radius: 5px; 
    color: white;
    padding: 5px 10px; 
    font-size: 10px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

.my-button-clean {
    margin-left: 10px;
}

  
.my-button-clean:hover {
    background: linear-gradient(135deg, #000dff, #6b73ff); 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}

.feedback-links {
    color: black;
    margin-right: 10px;
}
