html, body {
    overflow: hidden;
}

body {
    background-color: #EDEDEC;
}

p {
    margin-top: 15px;
    margin-bottom: 10px;
}

.letter-style {
    font-family: 'Inter', sans-serif;
}

.scrollable {
    max-height: 200px; 
    overflow-y: auto;
}

.text {
    font-weight: 700;
    size: 19px;
    line-height: 20px;
    color: #515150;
    margin: 0px;
}

/*---- Admin: Login ----*/
.content-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh; 
    width: 99vw;  
}

.login-wrapper {
    width: 50%; 
    margin-top: 240px;
}

.content-wrapper{
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 175px;
}

.shadow-overlay {
    position: absolute;
    left:3%;
    width: 100%;
    height: 100%;
    background-color: #C3C3C3;
    border-radius: 20px;
    z-index: -1;
}

.shadow-overlay-login {
    top: 13%;
}

.login-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-right: 30px;
}
  
.content-column {
    display: flex;
    flex-direction: column;
    color: #2E231D;
}

.admin-heading {
    color: #A02D20; 
    margin-bottom: 0;
}

.admin-description {
    color: #2E231D;
    font-weight: bold;
}

.input-button-container-welcome {
    width: 100%;
    margin-left: 35%;
    position: relative;
    display: flex;
    gap: 10px;
}

.input-username {
    border: 1px solid #ddd;
    border-radius: 10px; 
}
.input-username:focus {
    outline: 2px solid #C0C0C0;
}

.input-usernameWelcome {
    width: 50%;
}

.app-button {
    background-color: #2E231D;
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    opacity: 90%;
    font-weight: bold;
}

.app-button:hover {
    background-color: #A02D20;
    font-weight: bold;
}

.app-button__welcome {
    padding: 3% 10%;
    margin-right: 10px;
}

.app-button__welcome:focus {
    outline: 1px solid #2E231D;
}

.app-button__welcome:hover {
    outline: 0px;
}

/*---- Admin: main page ----*/

.admin-wrapper{
    display: flex;
    flex-direction: column;
}

.row-admin-menu{
    padding-top: 20px;
}

.input-row {
    display: flex;
    margin-bottom: 20px;
}

.input-label {
    width: 150px;
    margin-right: 10px;
    font-size: 16px;
    text-align: left;
}

.input-field {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.insert-file{
    display: none;
}

.upload-icon{
    cursor: pointer;
    border: 3px solid #ccc;
    border-radius: 4px;
    width: 250px;
    padding: 10px;
    background-color: white;
    color: #5d5d5a;
    display: flex;
    align-items: center;
}

.input-pass-admin{
    border: 3px solid #ccc;
    border-radius: 4px;
    width: 150px;
    padding: 10px;
    background-color: white;
    color: #969695;
}

.file-name-admin-wrapp{
    margin-left: 5px;
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;    
}

.upload-file-admin{
    margin-right: 10px;
}

.admin-button {
    background-color: #515150;
    border: none;
    border-radius: 10px; 
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.admin-button:hover {
    background-color: #A02D20;
}

.buttons-alumnus{
    display: flex;
    flex-direction: column;
}


/*---- Map ----*/

.mapCmpDiv{
    height: 100vh;
    position: relative;
    background-color: #515150;
}

/*----- Loading -----*/

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* This will blur the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.loading-icon {
    width: 50px;
    height: 50px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---- Menu Buttons ----*/

.icon-show-menu{
    color: #A02D20; 
    font-size: 25px;
    padding-right: 3px;
    cursor: pointer;
}

.menu-buttons-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #EDEDEC; 
    padding-top: 0px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    z-index: 3;
}

.text-distribution {
    margin-top: 5px;
    padding-left: 3px;
}

.text-conclusion-year {
    padding-bottom: 5px;
    margin-top: 10px;
}

.custom-radio{
    display: none;
}

.radio-buttons {
    display: flex;
    padding-top: 5px;
}

.custom-radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 138px;
    height: 40px; 
    border-top: 2px solid #CACAC9; 
    border-bottom: 2px solid #CACAC9; 
    background-color: white;
    color: #515150;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-radio-label-left-button {
    border-radius: 5px 0px 0px 5px;
    border-left: 2px solid #CACAC9; 
    border-right: 2px solid #CACAC9; 
}

.custom-radio-label-right-button {
    border-radius: 0px 5px 5px 0px;
    border-right: 2px solid #CACAC9; 
}

.custom-radio:checked + .custom-radio-label {
    background-color: #A02D20;
    border: 2px solid #A02D20;
    color: #FAFAFA;
}

.search-bar {
    width: 95%;
    height: 40px;
    border: 1px solid #CACAC9;
    border-radius: 5px; 
    box-shadow: none; 
    padding: 0px 8px; 
    outline: none; 
    color: #969695;
    gap: 8px;
}


/* Additional styles for the dropdown options */
.search-bar option {
    background-color: white; /* Initial background color */
    color: black; /* Text color */
    padding: 5px; /* Padding inside options */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.search-bar-alumni {
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-results div {
    cursor: pointer; 
}

.filter-course-alumni {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.content-filter-course {
    color: #CACAC9;
}

.content-filter-options {
    color: #515150;
}

.button{
    position: absolute;
    z-index: 2;
}

.butnPopAlumni{
    top: 120px;
    left: 20px;
}
.butnBackAlumni{
    top: 150px;
    left: 20px;
}
.butnBackAlumniWFile{
    top: 180px;
    left: 20px;
}
.btnMissingLinkedinLinks{
    top: 210px;
    left: 20px;
}

.butnPopCountry{
    top: 270px;
    left: 20px;
}
.butnPopCity{
    top: 300px;
    left: 20px;
}
.butnPopAlumniEIC{
    top: 330px;
    left: 20px;
}

.butnGenCountryGeoJason{
    top: 390px;
    left: 20px;
}
.butnGenCityGeoJason{
    top: 420px;
    left: 20px;
}

.butnUseCitiesGeoJson{
    top: 480px;
    left: 20px;
}
.butnUseCountriesGeoJson{
    top: 510px;
    left: 20px;
}
.btnExcelAlumniTableToExcel{
    top: 550px;
    left: 20px;
}

.year-filter-container {
    display: flex;
    margin-bottom: 10px;
}

.search-container-year {
    width: 50%;
    display: inline-block;
}

.fileInput{
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 3;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.forms-button {
    color: #A02D20;
    font-weight: 700;
    padding-right: 7px;
    size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.icon-apply{
    color: #A02D20; 
    font-size: 15px;
    padding-right: 3px;
    cursor: pointer;
}

.icon-delete {
    color: #A02D20;
    font-size: 24px;
    cursor: pointer;
}

.alumnis-total-number {
    display: flex;
    color: #515150;
    padding: 10px 0px  2px 0px;
}

.text-num-alumnus {
    font-weight: 400px;
    size: 16px;
    line-height: 24px;
    padding-right: 5px;
}

.feedback-links {
    margin-right: 10px;
}

/*------ Cluster Rectangle Content ------*/

.clusterRectangle {
    background-color: #EDEDEC;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    z-index: 999; 
    max-width: 30%; 
}

.titles-letter {
    font-variant: small-caps;
    font-weight: 700;
    size: 14px;
    line-height: 20px;
    color: #A02D20;
    letter-spacing: 5%;
    width: 77px;
    height: 20px;
}

.table-titles {
    text-align: left;
}

.sticky-header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #EDEDEC; 
    z-index: 1; 
}

.places-name {
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    color: #18180A;
}

.content-table {
    font-weight: 400px;
    size: 16px;
    line-height: 24px;
    color: #515150;
    padding-right: 30px;
}

.link {
    text-decoration: none;
}

.alumni-cell {
    display: flex; 
    align-items: center; 
}

.alumni-cell-name {
    width: 190px;
}

.profile-picture {
    max-height: 30px;
    border-radius: 100%; 
    margin-right: 10px;
} 

.listing-image-profile-picture {
    display: flex;
    align-items: center;
}


.my-button-pagination-prev {
    margin-right: 10px;
    margin-top: 10px;
}

.my-button-pagination-more {
    margin-top: 10px;
}

.list-alumni {
    list-style-type: none;
    padding: 0;
}
.list-alumni.scrollable {
    max-height: 250px; 
    overflow-y: auto;
}