DATABASE_URL=""
PORT=3010

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=""

SMTP_USER=''
SMTP_PASSWORD=''

# Application environment
APP_ENV="development"

API_KEY_SECRET=""
AGENTS_API_URL="http://localhost:8000"

# APIs used
ALUMNI_EXTRACT_API_KEY=""
ALUMNI_EXTRACT_BASE_URL="https://enrichlayer.com/api/v2"
BRIGHTDATA_BASE_URL="https://api.brightdata.com"
BRIGHTDATA_API_KEY=""

# JWT
JWT_SECRET=""
JWT_EXPIRATION="1d"

FRONTEND_URL="http://localhost:4200"

# LinkedIn API
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
LINKEDIN_REDIRECT_URI=""
LINKEDIN_STATE=""
LINKEDIN_SCOPE=""
LINKEDIN_USER_INFO_URL="https://api.linkedin.com/v2/userinfo"
